<section id = "contacto">

    <section id="section1" class="section blue-section">
        <div>
            <h1 class="titulo">¿Queres ser parte de nuestro equipo?
            </h1>
        </div>
    </section>
</section>


<%= render 'layouts/contactar' %>

<%= render 'layouts/footer' %>