<section id = "domotica">

    <section id="section1" class="section blue-section">
        <div>
            <h1 class="titulo">¡Convertí tu hogar con Happy Home!
            </h1>
        </div>
    </section>

    <section id="section2" class="section white-section">
        <div class = "contenedor">
            <h1> DOMÓTICA </h1>
            <div class = "lista">
                <ul>
                    <li><span>Instalación de sistemas domóticos</span>: Integramos sistemas que te permiten controlar luces, 
                        persianas, climatización y más desde un solo dispositivo.</li>
                    <li><span>Automatización del hogar</span>: Configuramos escenarios personalizados que se activan 
                        automáticamente según tus rutinas y preferencias.</li>

                    <li><span>Seguridad</span>: Implementamos sistemas que monitorean y alertan sobre cualquier actividad inusual 
                        en tu hogar.</li>
                    <li><span>Asesoría y soporte técnico</span>: Te ofrecemos orientación para sacar el máximo provecho de tu 
                        sistema domótico y brindamos soporte en caso de problemas.</li>
                </ul>
            </div>
            <div class = "img_IE">
                    <%= image_tag 'home/imgDM.jpeg', alt: 'Instalaciones eléctricas domiciliarias' %>
            </div>
        </div>
    </section>

    </section>


    <%= render 'layouts/footer' %>