<section id = "instalacionesE">

    <section id="section1" class="section blue-section">
        <div>
            <h1 class="titulo">¡Convertí tu hogar con Happy Home!
            </h1>
        </div>
    </section>

    <section id="section2" class="section white-section">
        <div class = "contenedor">
            <h1> ELECTRICIDAD DEL HOGAR </h1>
            <div class = "lista">
                <ul>
                    <li><span>Instalaciones eléctricas</span>: Realizamos instalaciones desde cero, asegurándonos de que todos los 
                        componentes cumplan con los estándares de seguridad.</li>
                    <li><span>Reparaciones</span>: Detectamos y solucionamos cualquier fallo eléctrico, asegurando el 
                        funcionamiento óptimo de tu sistema.</li>

                    <li><span>Mantenimiento</span>: Ofrecemos servicios de mantenimiento preventivo para evitar problemas futuros 
                        y garantizar la seguridad de tu hogar.</li>
                    <li><span>Actualización de sistemas eléctricos</span>: Modernizamos instalaciones antiguas para mejorar la 
                        eficiencia y seguridad.</li>
                    <li><span>Confección de planos eléctricos</span>: Elaboramos planos detallados para nuevas construcciones o 
                        renovaciones, asegurando una correcta distribución y uso de la energía en tu hogar.</li>
                </ul>
            </div>
            <div class = "img_IE">
                    <%= image_tag 'home/imgIE.jpeg', alt: 'Instalaciones eléctricas domiciliarias' %>
            </div>
        </div>
    </section>

    </section>


    <%= render 'layouts/footer' %>