<section id = "riego">

    <section id="section1" class="section blue-section">
        <div>
            <h1 class="titulo">¡Convertí tu hogar con Happy Home!
            </h1>
        </div>
    </section>

    <section id="section2" class="section white-section">
        <div class = "contenedor">
            <h1> RIEGOS AUTOMÁTICOS </h1>
            <div class = "lista">
                <ul>
                    <li><span>Diseño e instalación</span>: Creamos un sistema de riego que se adapta perfectamente a tu 
                        espacio y tipo de plantas.</li>
                    <li><span>Mantenimiento</span>: Realizamos revisiones periódicas y ajustes para asegurar que el sistema 
                        funcione de manera eficiente.</li>

                    <li><span>Automatización</span>: Integramos tecnología que permite programar y controlar el riego desde tu 
                        smartphone, optimizando el uso del agua.</li>
                    <li><span>Reparaciones</span>: Solucionamos cualquier problema técnico que pueda surgir en tu sistema de 
                        riego.</li>
                </ul>
            </div>
            <div class = "img_IE">
                    <%= image_tag 'home/imgRI.jpeg', alt: 'Instalaciones eléctricas domiciliarias' %>
            </div>
        </div>
    </section>

    </section>


    <%= render 'layouts/footer' %>