<section id = "seguridad">

    <section id="section1" class="section blue-section">
        <div>
            <h1 class="titulo">¡Convertí tu hogar con Happy Home!
            </h1>
        </div>
    </section>

    <section id="section2" class="section white-section">
        <div class = "contenedor">
            <h1> CÁMARAS DE SEGURIDAD </h1>
            <div class = "lista">
                <ul>
                    <li><span>Asesoramiento personalizado</span>: Evaluamos las necesidades específicas de tu hogar para 
                        recomendarte las mejores soluciones.</li>
                    <li><span>Instalación profesional</span>: Colocamos cámaras en los puntos estratégicos de tu propiedad para 
                        asegurar una cobertura completa.</li>

                    <li><span>Monitoreo en tiempo real</span>: Configuramos el acceso remoto para que puedas vigilar tu hogar 
                        desde cualquier lugar y en cualquier momento.</li>
                    <li><span>Mantenimiento y soporte</span>: Ofrecemos servicios de mantenimiento regular y asistencia técnica 
                        para asegurar que tu sistema de seguridad siempre esté en óptimas condiciones.</li>
                </ul>
            </div>
            <div class = "img_IE">
                    <%= image_tag 'home/imgS.jpeg', alt: 'Instalaciones eléctricas domiciliarias' %>
            </div>
        </div>
    </section>

    </section>


    <%= render 'layouts/footer' %>